<header>
    <nav>
        <div class="title">
            <h1>Neurowatch - Panel</h1>
        </div>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'settings' %}">Settings</a></li>
            {% if user.is_authenticated %}
                <li><a href="#" onclick="submitLogoutForm()">Logout</a></li>
            {% endif %}
        </ul>
        <div>Client status: 
            {% if client_status.is_up %}
                On
            {% else %}
                Off
            {% endif %}
        </div>
    </nav>
    <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
        {% csrf_token %}
    </form>
    <script>
        function submitLogoutForm() {
            document.getElementById('logout-form').submit();
        }
    </script>
</header>